pkgbase = linux-vfio
	pkgdesc = Linux
	pkgver = 6.5.4.arch2
	pkgrel = 1
	url = https://github.com/archlinux/linux/commits/v6.5.4-arch2
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !strip
	source = archlinux-linux::git+https://github.com/archlinux/linux?signed#tag=v6.5.4-arch2
	source = config
	source = add-acs-overrides.patch
	source = i915-vga-arbiter.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	validpgpkeys = C7E7849466FE2358343588377258734B41C31549
	sha256sums = SKIP
	sha256sums = 15f816dc12fb724a4d31dc7f756d96280ebc919d09dd9abc4e33f7dd005ab8d4
	sha256sums = 6cd688b338e4da6246be8bdf7db5037c4aa1f16127e7e5539b3e160ac90a86a7
	sha256sums = df7ad2253f16d7af2135f32751f206d31a1b2a79d8f15d46f2e800d0b26bf544

pkgname = linux-vfio
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-vfio-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel (ACS override and i915 VGA arbiter patches)
	depends = pahole

pkgname = linux-vfio-docs
	pkgdesc = Documentation for the Linux kernel (ACS override and i915 VGA arbiter patches)
