pkgbase = linux-vfio
	pkgdesc = Linux
	pkgver = 6.6.10.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.10.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.10.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.6.10-arch1/linux-v6.6.10-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.6.10-arch1/linux-v6.6.10-arch1.patch.zst.sig
	source = config
	source = add-acs-overrides.patch
	source = i915-vga-arbiter.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 9ee627e4c109aec7fca3eda5898e81d201af2c7eb2f7d9d7d94c1f0e1205546c
	sha256sums = 081cf3b473519179665e5ecba7800141df497d2f8581230b70afacc104462e5d
	sha256sums = ad84324ce12f7c27664e79ebeaf4f7b6b52e1abe5777454b4d72c287c928f99a
	sha256sums = acd8242ec1f56fdc9e71c55ef67c59c6f4f41892dca87e962e1d53059308b4e3
	sha256sums = c2ff5802415aa94ed6ff550eade4d4f8741eef89633ec8521f37d00583304e8d
	sha256sums = 648feb8c03cc644ddb2c96cd7c85b3d18f1ab29073cbecc20c42940d7ebdcb46
	sha256sums = 1e51be896ab8c6224a55088eac7a14d20ca6a64a9842784b45639389033cfaba

pkgname = linux-vfio
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-vfio-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel (ACS override and i915 VGA arbiter patches)
	depends = pahole
