pkgbase = linux-vfio
	pkgdesc = Linux
	pkgver = 6.6.1.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.1.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.1.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.6.1-arch1/linux-v6.6.1-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.6.1-arch1/linux-v6.6.1-arch1.patch.zst.sig
	source = config
	source = add-acs-overrides.patch
	source = i915-vga-arbiter.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	sha256sums = da1ed7d47c97ed72c9354091628740aa3c40a3c9cd7382871f3cedbd60588234
	sha256sums = b7f8de311cffa20c2548918e18fdc8281a1b67bde20dbf1f91d9f92fc81c6691
	sha256sums = 9fd606b2ac0b4ae5df8867b7651574a2e5c480366bac224406fc34ad5d79009b
	sha256sums = 4ff4fb954dbeeda892b33758e347790edf2e67184367a35fa4d4ce3d78826d4a
	sha256sums = e5bb1c9728149d8afb1e6e72477a966630551da1735e17e1659bde241d605ba5
	sha256sums = 6cd688b338e4da6246be8bdf7db5037c4aa1f16127e7e5539b3e160ac90a86a7
	sha256sums = df7ad2253f16d7af2135f32751f206d31a1b2a79d8f15d46f2e800d0b26bf544

pkgname = linux-vfio
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-vfio-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel (ACS override and i915 VGA arbiter patches)
	depends = pahole

pkgname = linux-vfio-docs
	pkgdesc = Documentation for the Linux kernel (ACS override and i915 VGA arbiter patches)
